$background: #fff;
$light: #eee;
$color1: #000;
$color2: #00f;

$border: 2px solid $color1;

@mixin font-regular {
    font-family: 'IBM Plex Mono', monospace;
}
@mixin font-bold {
    font-weight: 700;
}
