$background: #000;

$color1: #78FFA8;
$color2: #905EFF;
$color3: #FF7E6A;

$border: 2px solid $color1;

@mixin font-regular {
    font-family: 'IBM Plex Sans', monospace;
}
@mixin font-bold {
    font-weight: 700;
}
