@import 'reset';
@import 'mixins';

html {
    font-size: 12px;
}

body {
    font-size: 1rem;
    background: $background;
    color: $color1;
    @include font-regular;
    -webkit-user-select: none;
    user-select: none;
}

h1, h2, h3, h4 {
    @include font-bold;
}

.text {
    padding: 0.5rem;
    p {
        line-height: 1.3;
    }
    p + p {
        text-indent: 1.5em;
    }
}

button {
    &:before {
        content: '[';
    }
    &:after {
        content: ']';
    }
}